nav {
  /* background-color: #fcd21d; */
  /* background-color: var(--mainBg); */
}

nav > .navContainer {
  border-bottom: 1px solid var(--mainText2);
}

nav > .navContainer > .navLogo > img {
  width: 50%;
  height: auto;
}

nav > .navContainer > .navMenu > ul {
  list-style: none;
}

nav > .navContainer > .navMenu > ul > li > a {
  color: var(--mainText);
  font-size: var(--p2);
  font-weight: 500;
  text-transform: uppercase;
}
